@charset "UTF-8";

/* ベースのスタイル
----------------------------------------------------- */
body {
  font-family: "Noto Sans JP", serif;
  line-height: 1.75;
  color: #333333;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  width: 100%;
}

ul{
list-style: none;
}
.container {
  max-width: 67.5rem;
  margin: auto;
  padding: 2em;
}

.section-title {
  font-size: 1.5rem;
  font-family: 'Cinzel', serif;
  color: #994639;
  margin-bottom: 2rem;
  text-align: center;
}

.section-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #994639;
  margin: 0.2rem auto 0;
}


section {
  padding: 6rem 0;   /* ← ここが効く */
}

/*ヘッダー
--------------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  padding: 1rem 1rem 0.5rem 1rem;
  color: #333333;
  z-index: 100;
  position: fixed;
  width: 100vw;
  background-color: #faf7f4;
  right: 0;
  left: 0;
}

@media(min-width:768px) {
  .header {
    height: 7rem;
    padding-left: 9rem;
    padding-right: 12rem;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  width: 3rem;
  overflow: hidden;
  justify-content: center;
}

@media (min-width:768px) {
  .header-logo {
    width: 8rem;
  }
}

.header-logo img {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
}


.hamburger-button {
  font-size: 2rem;
}

@media(min-width:768px) {
  .hamburger-button {
    display: none;
  }
}



/* ハンバーガーメニュー、ヘッダーナビ
----------------------------------------------*/
@media (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 4.6484rem;
    left: 4.4375rem;
    width: 61vw;
    height: auto;
    margin: auto;
    background-color: rgba(248, 244, 230, 0.7);
    border-radius: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: opacity .7s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 9990;
  }
}

@media (max-width: 767px) {
  .hamburger-menu .button {
    margin-left: 2.9063rem;
    padding: 0.8594rem 4.7234rem 1.1406rem 4.5938rem;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: -0.07em;
  }
}

@media (max-width: 767px) {
  .hamburger-menu .button-icon {
    right: 0.875rem;
  }
}

/* アクティブ状態*/
.hamburger-menu-active {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu-list-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  line-height: 2
}

@media(min-width:768px) {
  .header-nav-list-group {
    flex-direction: row;
    list-style: none;
    gap: 4rem;
    white-space: nowrap;
  }
}

.hamburger-menu a {
  color: #333333;
}

.hamburger-menu a:hover {
  color: aliceblue;
}

@media (min-width:768px) {
  .header-nav-list-group a {
    font-size: 1rem;
  }
}

/*カバー
----------------------------------*/
.cover {
  position: relative;
  padding-top: 4.2578rem;
  width: 100%;
}

@media (min-width:768px) {
  .cover {
    padding-top: 6.2578rem;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /*はみ出た部分を隠す*/

  }
}

.cover-pickup {
  position: absolute;
  top: 1rem;
  right: clamp(1.5rem, 5vw, 4rem);
  color: #fff;
  writing-mode: vertical-rl;
  font-family: "Noto Serif JP", serif;
}

@media(min-width:768px) {
  .cover-pickup {
    top: 9%;
    right: 27%;
    font-size: 2rem;
    letter-spacing: 8px;
  }
}

@media(min-width:768px) {
  .cover-slick-item img {
    height: 86vh;
    width: 100%;
    margin: auto;
    object-fit: contain;
    /*枠いっぱいに収まるように拡大してトリミングしてくれる*/
  }
}

.slick-slide {
  transition: opacity 2.2s cubic-bezier(0.45, 0, 0.55, 1) !important;
}

.slick-dots {
  bottom: -19px !important;
}


/*プロフィール
--------------------------------*/
@media(min-width:768px) {
  .profile {
    margin-bottom: 1rem;
  }
}

.profile-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media(min-width:768px) {
  .profile-item {
    flex-direction: row;
  }
}

.profile-item-image {
  max-width: 67.5rem;
  margin: auto;
  width: 57%;
}

@media(min-width:768px) {
  .profile-item-image {
    width: 22%;
  }
}

.profile-item-text {
  line-height: 2;

}

@media(min-width:768px) {
  .profile-item-text {
    font-size: 1rem;
  }
}

/*種類
-------------------------------------------------*/
@media(min-width:768px) {
  .lineup-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
  }
}


.lineup-list-item {
 margin-bottom: 2rem;
}


@media(min-width:768px) {
  .lineup-list-item {
    flex-direction: column;
    align-items: flex-start;
    width: calc(33.333% - 1rem);
  }
}

.lineup-list-item-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom:0.2188rem ;
}


.lineup-list-thumb {
  width: 30%;
}

@media (min-width:768px) {
  .lineup-list-thumb {
    width: auto;
  }
}

.button {
  display: inline-block;
  padding: 0.0813rem 1.375rem;
  background: #f8f4e6;
  color: #333333;
  border-radius: 9999px;
  text-decoration: none;
  font-size: 0.7rem;
  border: 1px solid #994639;
}

.button:hover {
  background-color: #fff;
}

.lineup-list-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 0.6484rem;
}

.lineup-list-item-discription {
  font-size: 1rem;
  line-height: 1;
}

.lineup-list-item-discription-sakura {
  margin-bottom: 1rem;
}

/*商品紹介
----------------------------------*/
.shopping-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}

.shopping-item {
  width: calc(50% - 0.5rem);
  list-style: none;
}

@media(min-width:768px) {
  .shopping-item {
    width: calc(50% - 00.5rem);
  }
}

.shopping-item-list:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transform: translateY(-3px);
  transition: 0.3s;
  cursor: pointer;
}


.shopping-item-name {
  color: #333333;
  font-size: 1rem;
  font-weight: 700;
}

.shopping-item-discription {
  color: #333333;
  font-size: 1rem;
}

.shopping-text {
  list-style: none;
  padding-left: 0;
  max-width: 600px;   /* liブロック幅を制限 */
  margin: 0 auto;     /* 全体中央寄せ */
  text-align: left;   /* li内のテキストは左揃え */
}

@media(min-width:768px) {
  .shopping-text {
    max-width: 50.6875rem;
  }
}

.shopping-text li {
  margin-bottom: 8px;
}
/*お問い合わせ
-----------------------------------*/
.contact-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media(min-width:768px) {
  .contact-group {
    font-size: 1rem;
    width: fit-content;
    /* 中身の幅に合わせる */
    margin: 0 auto;
    /* 画面中央へ */
    text-align: left;
    /* 文字は左揃え */
    line-height: 2;
    margin-bottom: 3rem;
  }
}

.contact-group a {
  color: #333333;
  padding-left: 1rem;
  font-size: 1.2rem;
  line-height: 1;
  color: #994639;
}

@media(min-width:768px) {
  .contact-group a {
    font-size: 1.5rem;
  }
}

/*問い合わせフォーム*/
.contact-form {
  margin-top: 3rem;
  }
@media(min-width:768px) {
  .contact-form {
    width: 70%;
    margin: 0 auto;
  }
}


.form-name {
  font-size: 1rem;
  text-align: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-item label {
  margin-bottom: 0.5rem;
}

.contact-submit {
  padding: 0.75rem 2rem;
  border: 1px solid;
  line-height: 1;
  background-color: #f8f4e6;
}

.form-item input,
.form-item textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

/*フッター
-----------------------------------*/
.footer {
  background-color: gray;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-copyright {
  font-size: 0.5rem;
}

@media (min-width:768px) {
  .footer-copyright {
    font-size: 0.7rem;
  }
}


@media (min-width:768px) {
  .footer-name {
    font-size: 1.5rem;
  }
}

.footer-name-sab {
  font-size: 0.7rem;
  font-weight: 400;
}

@media (min-width:768px) {
  .footer-name-sab {
    font-size: 1rem;
    padding-left: 1rem;
  }
}


.footer a {
  color: #333333;
  font-weight: 400;
}